/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1120px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
 */

@media (max-width: 1399.99px){
    .product-when-hover{
        width: 300px;
    }
    .product-when-hover-right::before{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        left: 94%;
}
}
@media (max-width: 1199.99px){
    .product-when-hover{
        right: -130%;
        left: 98%;
        width: 290px;
    }
    .product-when-hover-right{
        left: -135%;
        width: 290px;
    }

}
@media (max-width: 991.99px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
    }
    .product-when-hover{
        width: 350px;
    }
    .product-when-hover-right{
        width: 350px;
        left: -110%;
        top: 0%;
    }

     .product-when-hover.responsive991{
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 15px;
        border: 1px solid rgb(235, 235, 235);
        box-shadow: 0px 5px 12px 3px #e8e8e8;
        position: absolute;
        z-index: 1;
        left: -120%;
        top: 0%;
        right:0;
    
    }
    .product-when-hover.responsive991::before{
        position: absolute;
        border-top: 30px solid #fff;
        border-right: 30px solid #796A6A00;
        right: -14px;
        transform: rotate(138deg);
        z-index: 2;
        top: 40%;
        box-shadow: -4px -4px 10px -7px gray;
        -webkit-transform: rotate(138deg);
        -moz-transform: rotate(138deg);
        -ms-transform: rotate(138deg);
        -o-transform: rotate(138deg);
        left: 94%;
    
    }
    
}
@media (max-width: 767.99px){
    .product-when-hover{
        width: 260px;
    }
    .product-when-hover-right{
        width: 260px;
    }
    .product-when-hover::before{
     top: 25%;
    }
    .product-when-hover-right::before{
     top: 25%;
     left: 94%;
    }
.
 
}
@media (max-width: 575.99px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 100%;
    }
    .product-when-hover{
        width: 280px;
        left: 50%;
        top: 160%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
}
    .product-when-hover-right{
        width: 280px;
        left: 50%;
        top: 160%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
}
    .product-when-hover::before{
        top: -2%;
        left: 50%;
        right: 50%;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}
       .product-when-hover-right::before{
        top: -2%;
        left: 50%;
        right: 50%;
     
        transform: rotate(43deg);
        -webkit-transform: rotate(43deg);
        -moz-transform: rotate(43deg);
        -ms-transform: rotate(43deg);
        -o-transform: rotate(43deg);
}

}